section.about_us
  .container
    .row
      .col-lg-6.order-lg-1.order-2
        .about_img
          img.obj_fit(src="./img/about-img.png" alt="About Us Image")
      .col-lg-6.order-lg-2.order-1
        .about_content.p-3
          span.section_title ABOUT US
          h2.py-2 Optimize Your Test Preparation
          p Our prep platform offers expertly curated resources for efficient studying. We prioritize targeted practice drills to enhance specific skills, readying you for your test.
          p Our simulated tests enforce real time constraints, preparing you for exam pressure. Comprehensive prep packs ensure familiarity with all question types.
          p Accessible via our mobile-friendly web app, studying is convenient and effective.
          .main
            ul.prepration-sec-list
              li Exclusive Preparation Materials
              li Mobile Friendly
              li.min-w Self-Paced Preparation
              li Money Back Guarantee
          .buy_this_course
            a(href="#") Buy Course Now
              i.fa.fa-arrow-right(aria-hidden="true")
