section.home_banner.py-0
  .container-fluid.p-0
    .row.align-items-center.g-0.bg-theme
      .col-lg-6
        .banner_content.modify
          span
            h1 Streamline
          .text-with-img.d-flex.align-items-center.gap-3.mb-4
            h2 your
            .img-icon
              img(src="./img/icon-pen.png" alt="Icon Pen")
            h2 prep
          .streamline_features
            .inner_feature.mb-3
              .feature
                img(src="./img/feature-trade.png" alt="Feature Trade")
                p Targeted Practice
              .feature
                img(src="./img/feature-book.png" alt="Feature Book")
                p Comprehensive packs
            .inner_feature
              .feature
                img(src="./img/simulator_logo.png" alt="Simulator Logo")
                p Simulated tests
              .feature
                img(src="./img/mobile_logo.png" alt="Mobile Logo")
                p Mobile Friendly
      .col-lg-6
        .home-banner-img
