section.our_courses
  .container
    .course_content
      .col-lg-12
        span.section_title OUR COURSE
        h2 NYPD Police Officer Exam
        p Test your skills with our comprehensive NYPD exam simulation
        .officer-img.pb-lg-5.pb-3
          img.obj_fit(src="./img/officer-img.jpg" alt="Officer Image")
        .row
          .col-lg-8
            .course-details
              h2 About Course
              p Test your skills with our comprehensive NYPD exam simulation
              .ratings.d-flex.align-items-center.gap-3
                .stars.mb-2
                  img(src="./img/Star.png" alt="Star")
                .reviews
                  p.mb-0 4.9
                    span.ps-2 (123 Reviews)
              .description
                h3.py-lg-2.py-2.mb-0 Description
                ul
                  li Why waste countless hours scouring for materials and questions when our expert team has already done the hard work for you? Our meticulously crafted course provides you with targeted questions that mirror those you'll encounter on the notoriously challenging NYPD written exam.
                  li This exam is a crucial step in your journey towards joining one of the most respected law enforcement agencies in the world. With stakes this high, thorough preparation is not just important – it's essential. That's why we've curated the perfect set of resources to ensure you're fully equipped to tackle every aspect of the exam. From practice quizzes to simulated tests, we've got you covered.
                  li Approach your exam with confidence and let our course pave the way for your success. Don't just prepare – prepare smart with us!
          .col-lg-4
            .theme-benefit-card
              h3.py-2 Benefits
              .benefit-list
                ul
                  li Full NYPD Test Simulation
                  li 3 Visualization Tests
                  li 6 Deductive Reasoning Tests & Guide
                  li 9 Information Ordering Tests
                  li 5 Inductive Reasoning Tests & Guide
                  li 2 Problem Sensitivity Tests
                  li 2 Memorization Tests & Guide
                  li 10 Reading Comprehension Tests & Guide
                  li 3 Spatial Orientation Tests
                  
                  .banner-horisontal__cta.mt-4
                     a(href="http://").btn.btn-primary.arrow Learn More 
