footer.footer.mt-auto
  .container
    .footer__wrapper
      .footer__content
        a.navbar-brand(href="/") LOGO
      ul.footer__links
        li
          a(href="#") Terms
        li
          a(href="#") Privacy Policy
        li
          a(href="#") Privacy Rights Policy
        li
          a(href="#") Disclaimer
        li
          a(href="#") Contact
        li
          a(href="#") About
    hr.hr.mt-3.border.border-secondary.border-opacity-50
    .footer__copyright
      p © 2024 All Rights Reserved