section.join_us
  .container
    .row.align-items-center
      .col-lg-5
        .join-us-content.mb-5
          h2 Join us and get ready the 
            span smart way!
          p Our experts turn practice into exciting challenges, making preparation empowering and enjoyable
        .banner-horisontal__cta.w-50
          a(href="http://").btn.btn-primary.arrow Learn More

      .col-lg-7
        .feature_main
          .features
            .feature_1
              img(src="./img/red-arrow.png" class="arrow-img" alt="Red Arrow")
              .feature_1_icon.feature-icon
                img(src="img/fetaure_books.png" alt="Feature Books")
                .hover-able.right_side
                  p Text Preparation with more text
            .feature_2
              img(src="./img/yellow-ellipse.png" class="arrow-img" alt="Yellow Ellipse")
              .feature_2_icon.feature-icon
                img(src="img/idea.png" alt="Idea")
                .hover-able
                  p Text Preparation with more text
            .feature_4
              img(src="./img/blue-ellipse.png" class="arrow-img" alt="Blue Ellipse")
              .feature_3_icon.feature-icon
                img(src="img/win.png" alt="Win")
                .hover-able.right_side
                  p Text Preparation with more text
            .feature_3
              img(src="./img/green-ellipse.png" class="arrow-img" alt="Green Ellipse")
              .feature_4_icon.feature-icon
                img(src="img/todo.png" alt="To Do")
                .hover-able
                  p Text Preparation with more text
