section.testimonials
  .container
    h2 Testimonials
    .testimonial_slider.owl-carousel.owl-theme
      .testimonial_card
        .testimonial__avatar
          picture
            img(src="img/testimonail_img.png" alt="Testimonial Avatar")
        .testimonial__content
          .testimonial__line
            .verified_buyer
              h5.testimonial__title Oshane B.
              .verified
                img.ps-3(src="./img/verified.png" alt="Verified")
              span Verified Buyer
            .testimonial__score
              .score
                .score__stars
                  .star
                  .star
                  .star
                  .star
                  .star
          .testimonial__text
            p Very helpful in terms of preparing me with the items I needed to work on and look out for on the final test.
            .testimonial_footer
              .footer_icon-img
                img(src="./img/testimonial_footer.png" alt="Testimonial Footer")
              p Pennsylvania (PA) State Police Exam
      .testimonial_card
        .testimonial__avatar
          picture
            img(src="img/testimonial_2.png" alt="Testimonial Avatar")
        .testimonial__content
          .testimonial__line
            .verified_buyer
              h5.testimonial__title Zehan Bilqist
            .testimonial__score
              .score
                .score__stars
                  .star
                  .star
                  .star
                  .star
                  .star.empty
          .testimonial__text
            p.testimonial__text Very helpful in terms of preparing me with the items I needed to work on and look out for on the final test.
            .testimonial_footer
              .footer_icon-img
                img(src="./img/testimonial_footer.png" alt="Testimonial Footer")
              p NYPD Exam
