footer.footer.mt-auto
  .container
    .footer__wrapper
      .footer__content
        a.navbar-brand(href='/') LOGO
      ul.footer__links
        li: a(href='http://') Terms
        li: a(href='http://') Privacy Policy
        li: a(href='http://') Privacy Rights Policy
        li: a(href='http://') Disclaimer
        li: a(href='http://') Contact
        li: a(href='http://') About
    hr.hr.mt-3.border.border-secondary.border-opacity-50
    .footer__copyright
      p © 2024 All Rights Reserved
