extends ../layout/modal.pug

block modal-header
  h3.m-0 Full Disclosure

block modal-content
  p MattressVerdict.com is a mattress reviews website. Our website compares leading brands, provides detailed reviews about the mattresses construction, warranty, return policy and more. We do not list all mattress brands out there, nor do we cover all aspects of brands we list. We do our best to keep the information accurate, but we can't promise you that it is. Mattress companies often change their product as well as their prices, warranty periods and more.The best way to get accurate information is to go to their respective official websites. We receive referral fees from the brands on the website. We do our best to provide accurate information. Fees impact rankings, rating and reviews.

  p For more information on how we rate 
    a(href="#") Click Here