.modal.fade(id='mainModal' tabindex='-1' role='dialog')

  .modal-dialog.modal-dialog-centered.modal-lg(role='document')
    .modal-content

      .main-modal 
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')

        .main-modal__media 
          img(src="img/main-modal__image.jpg", alt="Picture")

        .main-modal__content 
          .main-modal__badge Our #1 Top Pick

          img(src="img/logo2.svg", alt="logo").main-modal__logo

          span.main-modal__label SALE 
          span.main-modal__offer  $799 Special Offer!

          a(href="http://").btn.btn-orange Claim offer
          a(href="http://").link  Visit Site
