extends ../layout/layout.pug

block header
  header.header
    .container  
      .header__wrapper 
        .header__content
          h1 Police Officer <span>NYPD Exam</span> Prep Course

          .header__desk
            p Start your NYPD journey with our concise online test preparation. Achieve your dream of joining New York's Finest.
          
          .triggers 
            .triggers__item 
              img(src="img/header-icon1.png", alt="Icon", width="28")
              span Updated March 2024
            .triggers__item 
              img(src="img/header-icon2.png", alt="Icon", width="31")
              span High-Quality Content
            .triggers__item 
              img(src="img/header-icon3.png", alt="Icon", width="30")
              span Easy To Use

        .header__media
          img(src="img/header-media.svg", alt="Image", width="300")

block content

  article.mt-5
    .container 
      .wrapper    
        .wrapper__col(aria-label="content") 
          small.text-secondary Your NYPD Career Starts Here!
          h2 Test Online Preparation

          section.experts 
            .experts__item 
              .experts__item-picture 
                img(src="img/experts- avatar-placeholder-1.jpg", alt="Avatar", width="68", height="68")
              .experts__item-content
                small.experts__item-label Written By
                a(href="#").experts__item-name Jake Peralta
                span.experts__item-field NYPD Tests Expert
            
            .experts__item 
              .experts__item-picture 
                picture
                  img(src="img/experts- avatar-placeholder-2.jpg", alt="Avatar", width="68", height="68")
              .experts__item-content
                small.experts__item-label Proficiently Reviewed By
                a(href="#").experts__item-name Rosa Diaz
                span.experts__item-field Ex Police HR manager 

          h3.title-line In a Nutshell
          p The road to becoming one of New York's Finest is a challenging one. As the largest and one of the oldest police departments in the United States, <b>the NYPD has a rigorous set of tests in place</b> to ensure only the best candidates are selected as future police officers.
          p On this page, we will break the NYPD test process down for you, so that you know exactly what you need to prepare for, and how. We also offer access to our full NYPD test preparation pack, which includes:

          ul.list-icons
            li <b>1 Full NYPD test simulation</b>, that will provide you with a true-to-source experience of the format and question types you will face in the real test.
            li <b>Legal Certificate</b>, that will provide you with a true-to-source experience of the format and question types you will face in the real test.

          .d-flex.justify-content-center.mt-4.banner-horisontal__cta 
            a(href="http://").btn.btn-line.arrow Unlock Your NYPD Career
          //- Price widget for mobile
          .wrapper__col.d-lg-none.mt-5(aria-label="aside")
            include ../includes/_price-widget.pug
          
          h3.title-line.mt-5 What is the NYPD Exam?

          section.card-yellow 
            p Possibly the most important part of the New York City Police Department hiring process is the NYPD test, often referred to as the police officer written exam. <b>The NYPD test aims to measure the cognitive capabilities that police officer candidates possess</b>, especially those that correlate directly with what is needed in daily police work in New York City.
            p The NYPD test is timed, and the questions can be very challenging - a dangerous combo that without proper preparation can easily mean you find yourself missing out on the job. This is why accurate prep is key.
          
          section.content-with-icon.mt-5
            .content-with-icon__media
              picture
                img(src="img/article-icon-1.png", alt="Icon", width="112")

            div 
              h4 Memorization
              p The memory section of the test is considered to be the most difficult part of the entire exam. You will have 10 minutes to carefully study the details of a photo. You may not take notes; and once the viewing time has elapsed, you may not look back at the picture. Expect the questions to cover the smallest and most remote aspects of the photo.
          
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/article-icon-2.png", alt="Icon", width="116")
              
            div 
              h4 Spatial Orientation
              p Not only does this part of the assessment evaluate your relative (left-right) and absolute (north-south) directional skills, it also requires a degree of reading comprehension, attention to detail, and problem-solving. Many questions in this section will provide you with a map and ask you to find the fastest route between two places. Other questions may be presented in the form of a written scenario where you need to determine the last known direction or location of a person or object.
          
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/article-icon-3.png", alt="Icon", width="116")
              
            div 
              h4 Written Comprehension
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.


          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/deductive_reasoning.png", alt="Icon", width="116")
              
            div 
              h4 Deductive Reasoning
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/induction_reasoning.png", alt="Icon", width="116")
              
            div 
              h4 Inductive Reasoning
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/ordering_information.png", alt="Icon", width="116")
              
            div 
              h4 Information Ordering
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/problem_sentivity.png", alt="Icon", width="116")
              
            div 
              h4 Problem Sensitivity
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/visualization_icon.png", alt="Icon", width="116")
              
            div 
              h4 Visualization
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.
          section.content-with-icon.mt-3
            .content-with-icon__media
              picture
                img(src="img/written_expression.png", alt="Icon", width="116")
              
            div 
              h4 Written Expression
              p A written comprehension test determines your ability to read and understand written information. In this section, you are presented with several passages pertaining to police work (e.g. a sample crime report). After each passage, you will be asked a series of questions regarding details from the text.
         

 
          section.banner-horisontal.mt-5 
            .banner-horisontal__logo 
              picture 
                img(src="img/banner-horisontal__logo-placeholder.png", alt="Logo")
            
            .banner-horisontal__offer Try a Practice test for FREE!

            .banner-horisontal__cta
              a(href="http://").btn.btn-primary.arrow Claim Deal

          h3.title-line.mt-5 NYPD Practice Exam Questions
          p In the questions below you will get a taste of the kinds of questions you will be facing in your NYPD test. Take a few minutes in a quiet spot to solve them, and see how you do.

          section.question 
            h5 Question #1
            p How many bicycles can be seen clearly/ fully in the photo? (Not cut, cropped, or hidden)

            .d-flex.gap-3
              button(type="button").question-option 1
              button(type="button").question-option 2
              button(type="button").question-option 3
              button(type="button").question-option 4

          section.card-yellow.mt-3
            h5.mt-0 Answer:
            .row 
              .col-md-6.mb-3 
                picture 
                  img(src="img/article-picture-placeholder.jpg", alt="Picture").img-fluid
              .col-md-6 
                p The answer is 1, although there are two bicycles, one of them is hidden by a car and can’t be seen fully. (The orange arrow for the bicycle, and the green arrow is for the hidden bicycle.)

          h3.title-line.mt-5 NYPD Hiring Process
          p The New York City Police Department is interested in hiring only the best candidates to become police officers, and earn a NYPD badge and uniform. <b>The hiring process is comprised of the following elements</b>:

          ul.list-arrows 
            li <b>Written entrance exam</b> administered by the Department of Citywide Administrative Services (DCAS).
            li <b>Medical exam</b> - hearing, vision, height, weight, dental health.
            li <b>Standardized written and oral</b> <a href="#" class="link">psychological test</a>.
            li <b>Background character investigation</b>.
            li <b>Job Standard Test</b> - this is the NYPD physical test which is built of six challenging physical tasks that need to be completed in under four minutes and twenty eight seconds. The aim of this test is to see that you have the physical strength and endurance to begin training to be a New York Police Department police officer. The NYPD physical test includes: barrier surmount; stair climb; physical restraint simulation; pursuit run; victim rescue; trigger pull.
          
          p <b>The minimum NYPD application requirements</b> – 60 college credits at an accredited university or college; at least a 2.0 Grade Point Average; at least 21 years of age; U.S. citizenship; New York CIty resident; and a valid State of New York driver’s license.

          section.card-green.mt-4 
            p Want to learn about becoming a New York Police Department Sergeant? <a href="#" class="link">Click here</a> for useful information.

          section.card-blue.mt-4 
            h4 PROMOTION 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel aliquet ex. Vestibulum eget nulla eget dolor efficitur dictum ac sed sapien. Donec rutrum felis et nisl semper molestie. In urna felis, vulputate vitae ornare sit amet, pellentesque non urna. Sed efficitur scelerisque neque, non efficitur libero hendrerit in. 
            .banner-horisontal__cta
              a(href="http://").btn.btn-primary.arrow Get Started Now

          h3.title-line.mt-5.mb-4 Testimonials
          section.testimonial 
            .testimonial__avatar 
              picture
                img(src="img/testimonial-avatar-placeholder.jpg", alt="Avatar")
            .testimonial__content 
              .testimonial__line 
                h5.testimonial__title Oshane B.
                //- .testimonial__badge Verified Buyer
                .testimonial__score 
                  .score 
                    .score__stars
                      .star 
                      .star
                      .star
                      .star.half
                      .star.empty
              .testimonial__label Pennsylvania (PA) State Police Exam
              .testimonial__text 
                p Very helpful in terms of preparing me with the items I needed to work on and look out for on the final test.
              .testimonial__date  
                span 09/03/24
          
          hr.hr.my-4.border.border-secondary.border-opacity-50

          section.testimonial.mb-5 
            .testimonial__avatar.verified
              span O.B.
            .testimonial__content 
              .testimonial__line 
                h5.testimonial__title Oshane B.
                .testimonial__badge Verified Buyer
                .testimonial__score 
                  .score 
                    .score__stars
                      .star 
                      .star
                      .star
                      .star.half
                      .star.empty
              .testimonial__label Pennsylvania (PA) State Police Exam
              .testimonial__text 
                p Very helpful in terms of preparing me with the items I needed to work on and look out for on the final test.
              .testimonial__date  
                span 09/03/24


        .wrapper__col(aria-label="aside")
          aside.aside
            .aside__special Special Discounts For Limited Time!

            .counter 
              .counter__item 
                | 00
                span DAYS
              .counter__div :
              .counter__item 
                | 11
                span HRS
              .counter__div :
              .counter__item 
                | 01
                span MIN
              .counter__div :
              .counter__item 
                | 20
                span SEC

            .price-widget
              nav
                #pricesTab.nav.nav-tabs(role='tablist')
                  button#nav1Tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav1' type='button' role='tab' aria-controls='nav1' aria-selected='false')
                    span.price-tab__label 1 WEEK 
                    .price-tab__price
                      span $
                      | 79
                    s.price-tab__old-price $99
                    
                  button#nav2Tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#nav2' type='button' role='tab' aria-controls='nav2' aria-selected='true') 
                    span.price-tab__label 1 MONTH 
                    .price-tab__price
                      span $
                      | 89
                    s.price-tab__old-price $109

                  button#nav3Tab.nav-link(data-bs-toggle='tab' data-bs-target='#nav3' type='button' role='tab' aria-controls='nav3' aria-selected='false') 
                    span.price-tab__label 3 MONTH 
                    .price-tab__price
                      span $
                      | 99
                    s.price-tab__old-price $129

              #pricesContent.tab-content
                #nav1.tab-pane.fade(role='tabpanel' aria-labelledby='nav1Tab' tabindex='0') ...
                #nav2.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav2Tab' tabindex='0') 
                  .price-tab__content 
                    ul.price-tab__features 
                      li <b>Full NYPD</b> Test Simulation
                      li <b>6 Deductive</b> Reasoning Tests & Guide
                      li <b>5 Inductive</b> Reasoning Tests & Guide
                      li <b>2 Memorization</b> Tests & Guide
                      li <b>3 Visualization</b> Tests
                      li <b>9 Information</b> Ordering Tests
                      li <b>2 Problem</b> Sensitivity Tests
                      li <b>10 Reading</b> Comprehension Tests & Guide
                      li <b>3 Spatial</b> Orientation Tests

                    .banner-horisontal__cta
                     a(href="http://").btn.btn-primary.arrow  Join now 
                    .price-tab__trigger 14 days money-back guarantee

                #nav3.tab-pane.fade(role='tabpanel' aria-labelledby='nav3Tab' tabindex='0') ...
